---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="iLogs">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, nisi!
    Pariatur quas recusandae quisquam! Nisi aperiam eius ad molestiae nam
    consectetur temporibus eaque inventore, molestias numquam laudantium libero
    voluptatibus quam?
  </p>
</Layout>
