---
type Props = {
  path: string;
  title: string;
};

const { path, title } = Astro.props;
---

<li>
  <a
    href={path}
    class={"flex py-2 px-3 md:p-0 items-center rounded hover:bg-neutral-200 md:hover:bg-transparent text-neutral-700 hover:text-neutral-950 text-base md:text-lg"}
  >
    <span> {title} </span>
  </a>
</li>
