---
import logoBlanco from '../assets/logo-blanco.svg'
---
<nav class="bg-primary-800 text-neutral-50 p-4">
    <div class="container mx-auto flex items-center gap-4">
        <img src={logoBlanco.src} alt="Logo de la empresa" class="h-10">
        <ul class="flex items-center gap-8 ml-auto">
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Quiénes Somos</a></li>
            <li><a href="/services">Servicios</a></li>
            <li><a href="/portfolio">Portafolio</a></li>
            <li><a href="/blog">Blog o Recursos</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </div>
</nav>
