---
import "../styles/global.css";
import Navbar from "~/components/Navbar.astro";
import Footer from "~/components/Footer.astro";
import background from "~/assets/background.png";
import BasicMetadata from "~/components/BasicMetadata.astro";
import OpenGraphMetadata from "~/components/OpenGraphMetadata.astro";

type Props = {
  title?: string;
};

const { title = "Munyaal" } = Astro.props;
---

<!doctype html>
<html lang="es" dir="ltr">
  <head>
    <!-- Metadata básica -->
    <BasicMetadata />
    <OpenGraphMetadata />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-cover bg-center bg-no-repeat"
    style={{ backgroundImage: `url(${background.src})` }}
  >
    <Navbar />

    <slot />

    <Footer />
  </body>
</html>
